$chatpageBgColor: #202c33c7;
$selectedChatBgColor: #00131b77;
$baseFontSize: 19px;
$baseImgDimension: 100px;
$fullDimension: 100%;
$appFontUrl: "https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap";
$appBgUrl: "http://localhost:3000/bg.png";
